h1 {
    color: white;
    background-color: black;
}

p {
    color: indigo;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: large;
    height: 60px;
    background-color: rgb(255, 255, 255);
}

.navbar-header img {
    height: 30px;
}

.navbar{
    color: black;
    background-color: rgb(221, 221, 221);
}

picture img{
    width: 100%;
}